
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/VrmlScriptCompiler/location.hh
/VrmlScriptCompiler/parser.tab.cpp
/VrmlScriptCompiler/parser.tab.h
/VrmlScriptCompiler/scanner.flex.cpp

build**/
/.idea/
/_deps/
/fmt/
